media{
position:relative;
top:0pt;
left:0pt;
height:20pt;
padding:0pt;
margin:0pt;
width:100%;
}
media button{height:20pt;max-width:30%;width:75pt;}
media button:hover{border-bottom:thin solid white;}
chat{
position:relative;
width:100%;
}
#messages{
position:relative;
top:0;
bottom:50pt;
left:0;
right:0;
min-height:80%;
max-height:89%;
overflow-y:scroll;
}
n{
display:block;
background:rgba(20,130,121,0.3);
text-align:center;
}
#message{
position:relative;
padding:2pt;
border:none;
height:auto;
overflow:none;
text-align:center;
background:rgba(0,0,0,0.3);
}
#sendmessage{
position:fixed;
bottom:0;
right:0;
width:20%;
font-size:12pt;
}
#statement{
position:relative;
top:0;
bottom:0;
width:100%;
min-height:83%;
max-height:84%;
overflow:auto;
}
navbuttons{
position:absolute;
width:100%;
bottom:0;
right:0;	
}
navbuttons button{
width:50%;
height:5%;
min-height:30pt;
}
